<div class="breadcrumb">
  <li><%= link_to '時間割を変更する', new_staffs_rescheduling_path %></li>
  /
  <li><%= link_to '教員から', staffs_reschedulings_lecturers_path %></li>
  /
  <li class="active"><%= @lecturer.name %></li>
</div>

<div class="container">
  <%= render partial: 'shared/timeline/timeline' %>
  <%= render partial: "shared/reschedulings/#{@form.category}_modal" %>
</div>
