<%= content_header('list-ul', '変更一覧を見る') %>

  <table class="table">
    <% @reschedulings.each do |rescheduling| %>
      <tr>
        <td><%= rescheduling.lecture.klass.name %></td>
        <td>
          <%= rescheduling.lecture.name %><br>
            （<% rescheduling.lecture.lecturers.map(&:name).each do |lecturer| %>
              <%= ", " unless lecturer == rescheduling.lecture.lecturers.map(&:name).first %>
              <%= lecturer %>
              <% end %>
            ）
        </td>
        <td>
          <%= datetime_md(rescheduling.before_date_period.taken_on) if rescheduling.before_date_period.present? %><br>
          <%= rescheduling.before_date_period.period.name if rescheduling.before_date_period.present? %>
        </td>
        <td><%= fa_icon('long-arrow-right') if rescheduling.before_date_period_id.present? && rescheduling.after_date_period_id.present? %></td>
        <td>
          <%= datetime_md(rescheduling.after_date_period.taken_on) if rescheduling.after_date_period.present? %><br>
          <%= rescheduling.after_date_period.period.name if rescheduling.after_date_period.present? %>
        </td>
        <td>
          <%= rescheduling.category_i18n %><br>
          （<%= datetime_mdhm(rescheduling.created_at) %>）
        </td>
      </tr>
    <% end %>
  </table>
