<footer>
  <p class="github">
    <%= link_to(fa_icon("github") { |i| "#{i} GitHub Project" }, Settings.github_repo) %> 
    <%= link_to 'Issues', "#{Settings.github_repo}/issues" %>
    <%= link_to 'Contributors', "#{Settings.github_repo}/graphs/contributors" %>
  </p>
  <p class="license">
    Code licensed under 
    <%= link_to 'MIT License', "#{Settings.github_repo}/blob/master/LICENSE" %>
    Documentation licensed under 
    <%= link_to 'CC BY 3.0', "http://creativecommons.org/licenses/by/3.0/" %>
  </p>
  <p class="contributor">
    actopus 1.0 ･ Created by 
    <%= link_to 'Masayuki IZUMI', "https://github.com/izumin5210" %>,  
    <%= link_to 'Sanae YAMASHITA', "https://github.com/yamasy1549" %>
  </p>
</footer>
