<div class="pagination">
  <ul>
    <% [-7, 0, 7].map { |d| @beginning_of_week + d }.each do |week| %>
      <li class="<%= 'active' if @date_step.to_a.include?(week) %>">
        <%= link_to date: week.to_s do %>
          <%= l week.beginning_of_week, format: :short %>
          -
          <%= l week.end_of_week, format: :short %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= button_to timetable_staffs_klass_path, method: :get, class: "btn-calendar" do %>
    <i class="fa fa-calendar"></i>
  <% end %>
</div>
