<div class="modal fade" id="reschedulings-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">休講にする</h4>
      </div>
      <div class="modal-body">
        <dl class="dl-horizontal">
          <dt>講義名</dt>
          <dd id="rescheduled-lecture"></dd>
          <dt>クラス</dt>
          <dd id="rescheduled-class"></dd>
          <dt>日時</dt>
          <dd>
            <span id="rescheduled-date"></span>
            <span id="rescheduled-start-time"></span>
            ~
            <span id="rescheduled-end-time"></span>
          </dd>
          <dt>担当教員</dt>
          <dd>
            <ul class="list-unstyled" id="rescheduled-lecturers"></ul>
          </dd>
        </dl>
      </div>
      <div class="modal-footer">
        <%= form_for @form, url: staffs_reschedulings_path do |f| %>
          <%= f.hidden_field :category %>
          <%= f.hidden_field :lecture_id %>
          <%= f.hidden_field :before_period_id %>
          <%= f.hidden_field :before_date %>
          <%= button_tag '閉じる', class: 'btn btn-default', data: { dismiss: :modal } %>
          <%= button_tag @form.category, class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
