<table>
  <% reschedulings.each do |rescheduling| %>
    <tr>
      <td><%= rescheduling.klass.name %></td>
      <td>
        <%= rescheduling.lecture.name %><br>
        （<%= rescheduling.lecturers.map(&:name).join(', ') %>）
      </td>
      <td>
        <%= l(rescheduling.before_date_period.taken_on, format: :short) if rescheduling.before_date_period.present? %>
        <%= rescheduling.before_date_period.period.name if rescheduling.before_date_period.present? %>限
        <%= fa_icon('long-arrow-right') if rescheduling.before_date_period_id.present? && rescheduling.after_date_period_id.present? %>
        <%= l(rescheduling.after_date_period.taken_on, format: :short) if rescheduling.after_date_period.present? %>
        <%= rescheduling.after_date_period.period.name if rescheduling.after_date_period.present? %>限
      </td>
      <td>
        <%= rescheduling.category_i18n %><br>
        （<%= l(rescheduling.created_at, format: :short) %>）
      </td>
    </tr>
  <% end %>
</table>
