<table class="table">
  <% reschedulings.each do |rescheduling| %>
    <tr>
      <td><%= rescheduling.klass.name %></td>
      <td>
        <%= rescheduling.lecture.name %><br>
        （<%= rescheduling.lecturers.map(&:name).join(', ') %>）
      </td>
      <td>
        <% if rescheduling.category == 'cancel' %>
          <%= l(rescheduling.taken_on, format: :short) %><br>
          <%= rescheduling.period.name %>
        <% end %>
      </td>
      <td><%#= fa_icon('long-arrow-right') %></td>
      <td>
        <% if rescheduling.category == 'extra' %>
          <%= l(rescheduling.taken_on, format: :short) %><br>
          <%= rescheduling.period.name %>
        <% end %>
      </td>
      <td>
        <%= rescheduling.category_i18n %><br>
        （<%= l(rescheduling.created_at, format: :short) %>）
      </td>
    </tr>
  <% end %>
</table>
