<ul class="breadcrumb">
  <li><%= link_to '時間割を変更する', new_staffs_rescheduling_path %></li>
  <li><%= link_to 'クラスから選択', staffs_reschedulings_klasses_path %></li>
  <li class="active"><%= @klass.name %></li>
</ul>

<h3><%= fa_icon("exchange fw") { |i| "#{i} #{@klass.name} の時間割を変更する" } %></h3>
<%= render partial: 'shared/timeline/timeline'  %>
<%= render partial: "shared/reschedulings/cancel_modal"  %>
