<div class="breadcrumb">
  <li><%= link_to '時間割を変更する', new_staffs_rescheduling_path %></li>
  /
  <li><%= link_to 'クラスから', staffs_reschedulings_klasses_path %></li>
  /
  <li class="active"><%= @klass.name %></li>
</div>

<div class="container">
  <%= render partial: 'shared/timeline/timeline' %>
  <%= render partial: "shared/reschedulings/#{@form.category}_modal" %>
</div>
