<h2>パスワードの設定</h2>

<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put, class: "form-input" }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

  <div class="field">
    <%= f.password_field :password, autofocus: true, placeholder: "#{Staff.human_attribute_name(:password)}", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "#{Staff.human_attribute_name(:password_confirmation)}", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>
