<h2 class="heading"><%= fa_icon('cogs fw') %> staffs管理画面</h2>

  <div class="row">
    <div class="col-md-6">
      <% if @staff.errors.present? %>
        <div class="alert alert-danger">
          <ul>
            <% @staff.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_for @staff, url: invite_staffs_staffs_path, html: { class: "form-inline form-staff-new" } do |f| %>
        <div class="form-group">
          <label class="sr-only" for="input-email">email</label>
          <%= f.email_field :email, placeholder: "email", class: "form-control field-staff-new", id: "input-email" %>
        </div>
        <%= button_tag fa_icon('envelope-o fw') { |i| "#{i} Create" }, class: "btn btn-primary btn-staff-new" %>
      <% end %>
    </div>
  </div>

  <table class="table">
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.email %></td>
        <td><%= pluralize(staff.sign_in_count, 'sign_in') %></td>
      </tr>
    <% end %>
  </table>

