<ul class="breadcrumb">
  <li class="active">スタッフを管理する</li>
</ul>

<div class="container">
  <% if @staff.errors.present? %>
    <div class="alert-danger">
      <ul>
        <% @staff.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @staff, url: invite_staffs_staffs_path do |f| %>
    <%= f.email_field :email, placeholder: "email", id: "input-email" %>
    <%= button_tag 'create', class: "btn-action" %>
  <% end %>

  <table class="staffs-table">
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.email %></td>
        <td><%= pluralize(staff.sign_in_count, 'sign_in') %></td>
      </tr>
    <% end %>
  </table>
</div>
