<h2 class="heading"><%= fa_icon('cogs fw') %> staffs管理画面</h2>

<div class="content">
  <%= form_for [:staffs, @staff] do |f| %>
    <div class="input-group">
      <%= f.text_field :email, placeholder: "email", class: "form-control" %>
      <span class="input-group-btn">
        <%= button_tag fa_icon('envelope-o fw') { |i| "#{i} Create" }, class: "btn btn-primary btn-staff-new" %>
      </span>
    </div>
  <% end %>

  <table class="table">
    <tbody>
      <% @staffs.each do |staff| %>
        <tr>
          <td><%= staff.email %></td>
          <td><%= pluralize(staff.sign_in_count, 'sign_in') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
