<ul class="breadcrumb">
  <li><%= link_to 'ホーム', root_path %></li>
  <li><%= link_to '教員の時間割を見る', lecturers_path %></li>
  <li class="active"><%= @lecturer.name %></li>
</ul>

<%= content_header('user', @lecturer.name) %>
<%= render partial: 'shared/timeline/timeline' %>
