<h1>Staffs::Timetables#new</h1>
<p>Find me in app/views/staffs/timetables/new.html.erb</p>

<% if @form.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @form.errors.full_messages.each do |msg| %>
        <%= content_tag :li, msg %>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @form, url: staffs_timetables_path, method: :post, multipart: true do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :started_on %>
    <%= f.date_field :started_on, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :ended_on %>
    <%= f.date_field :ended_on, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :timetable_xml %>
    <%= f.file_field :timetable_xml, accept: 'application/xml,application/rdf+xml', required: true %>
  </div>
  <%= button_tag fa_icon('upload') { |i| "#{i} upload" }, class: 'btn btn-default' %>
<% end %>
