<!DOCTYPE html>
<html>
  <head>
    <title>actopus</title>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div class="header-actopus">
        <div class="container">
          <h1><%= link_to 'actopus', staffs_home_path, class: 'link-actopus' %></h1>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <% if staff_signed_in? %>
          <div class="col-md-3">
            <div class="list-group">
              <%= staff_menu_item 'exchange', '時間割を変更する', new_staffs_rescheduling_path %>
              <%= staff_menu_item 'list-ul', '変更一覧を見る', staffs_home_path %>
              <%= staff_menu_item 'search', '時間割を見る', staffs_klasses_path %>
              <%= staff_menu_item 'user', '教員データを見る', staffs_lecturers_path %>
              <%= staff_menu_item 'rotate-left', '時間割データを読み込む', new_staffs_timetable_path %>
              <%= staff_menu_item 'cogs', 'スタッフを管理する', staffs_staffs_path %>
            </div>
            <div class="list-group">
              <%= staff_menu_item 'sign-out', 'サインアウトする', destroy_staff_session_path, method: :delete %>
            </div>
          </div>
          <div class="col-md-9">
            <%= render 'shared/messages' %>
            <div class="content">
              <%= yield %>
            </div>
          </div>
        <% else %>
          <div class="col-md-offset-4 col-md-4">
            <%= render 'shared/messages' %>
            <div class="content">
              <%= yield %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%= render 'shared/footer' %>

  </body>
</html>
