<!DOCTYPE html>
<html>
<head>
  <title>actopus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="header-actopus">
      <h1>actopus</h1>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <%= staff_menu_item '時間割変更', '#' %>
          <%= staff_menu_item '時間割を見る', '#' %>
          <%= staff_menu_item '教員データの管理', '#' %>
          <%= staff_menu_item '時間割データの読み込み', '#' %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
