<!DOCTYPE html>
<html>
<head>
  <title>actopus</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="header-actopus">
      <h1>actopus</h1>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <%= staff_menu_item 'exchange', '時間割を変更する', '#' %>
          <%= staff_menu_item 'search', '時間割を見る', '#' %>
          <%= staff_menu_item 'th-list', '教員データを管理する', '#' %>
          <%= staff_menu_item 'rotate-left', '時間割データを読み込む', '#' %>
        </div>
      </div>
      <div class="col-md-9">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
